<ul class="list-group" *ngFor="let item of hotels">
    <li class="list-group-item d-flex justify-content-between align-items-center">

        <div class="row">
            <div class="col-md-12">
                    <img [src]="item.image" alt="hotels-images"><br>
                    <h4 class="card-title text-center">{{ item.name }}</h4><br>
                    <span class="card-text text-center" [ngSwitch]="item.rating">
                            <span *ngSwitchCase="1">
                                <div id="row-stars" class="row">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </span>
                            <span *ngSwitchCase="2">
                                <div id="row-stars" class="row">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </span>
                            <span *ngSwitchCase="3">
                                <div id="row-stars" class="row">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </span>
                            <span *ngSwitchCase="4">
                                <div id="row-stars" class="row">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </span>
                            <span *ngSwitchCase="5">
                                <div id="row-stars" class="row">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </span>
                            <span *ngSwitchDefault>
                                <div id="row-stars" class="row">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </span>
                        </span>
            </div>
        </div>
        <p>Description : {{ item.description }}</p>
        <span class="badge badge-light badge-pill" (click)="addLike(item)">
            <i class="fa" [ngClass]="{
                'fa-heart-o': !item.liked,
                'fa-heart': item.liked
            }" aria-hidden="true"></i>
        </span>
        <button (click)="deleteHotel(item.id)" class="btn btn-danger mr-3">
            <i class="fa fa-trash"></i>
        </button>
    </li>
    
</ul>

