.fa-heart-o,.fa-heart{
    font-size: 25px;
}
.btn .badge {
    position: relative;
    top: -13px;
    left: -5px;
}

#btn-light {
    color: #212529;
    background-color: #ffffff;
    border-color: #ffffff;
}